<?php

return [
    'zf2_featureflags' => [
        'qandidate_toggle' => [
            'persistence' => 'ToggleFeature\InMemory'
        ],
        'features' => [
            'some-feature' => [
                'name' => 'disabled',
                'conditions' => [],
                'status' => 'inactive',
            ],
            'some-other' => [
                'name' => 'enabled',
                'conditions' => [],
                'status' => 'always-active'
            ]
        ]
    ]
];
